* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}


p {
    font-family: 'Catamaran', sans-serif;
    color: #617d98;


}



header {
    margin: 0;
}



.hero-image {

    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('/images/istockphoto-913677844-612x612.jpg') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;

}


.hero-content {
    display: flex;
    flex-direction: column;
    height: 70%;
    align-items: center;
    justify-content: center;
}


nav {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}


nav ul {
    display: flex;
}


nav li  { 
     list-style-type: none;


}


nav li a {
    text-decoration: none;
    margin-right: 3rem;
    color: white;
    font-size: 1.7rem;
    transition: border  0.3s ease-in-out;


}


nav li a:hover {
    border-bottom: solid 4px  #678E3E;

}


/* MOBILE NAV TOP */





.mobile-nav-wrapper {
    
    background-color: #FFFEFE;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5rem;
    display: none;
   
}


.mobile-container {
  
    position: relative;
    bottom: 30px;
}


.mobile-container a {
    padding-left: 1rem;
    text-decoration: none;
    color: #112B42;
}



.x-icon-wrapper .fa-x {
    color: red;
    font-size: 1.6rem;
    cursor: pointer;
}


.x-icon-wrapper{
    position: fixed;
    top: 10%;
    left: 80%;
    transform: translate(-50%, -50%);
}


.fa-house, .fa-book, .fa-utensils, .fa-phone-flip {
    color: #678E3E;

}



.home-mobile, .about-mobile, .menu-mobile, .contact-mobile {
    padding-top: 2rem;
}



.icon-wrapper {
    display: none;
}



 .hamburger-icon {
    color: white;
    font-size: 2rem;
    cursor: pointer;
    width: 30%;
}







.home-title h1 {
    font-size: 4.6rem;
    color: white;
    padding-bottom: 2rem;
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;



}


.intro-text h2 {
    color: white;
    padding-bottom: 2rem;
    font-family: 'Catamaran', sans-serif;
}


.hero-description {
    display: flex;
    justify-content: center;
    width: 100%;
}


.hero-description p {
    width: 58%;
    font-size: 1.6rem;
    color: white;
    text-align: center;


}





@media (max-width: 980px) {
    .nav-list  {
        display: none;
    }
    
    
    .icon-wrapper  {
        display: block;
    }

   
    .home-title h1 {
        font-size: 1.8rem;
    }

    .hero-description p  {
        font-size: 1.3em;
        width: 58%;
    }
    
}





@media (max-width: 320px) {
    .home-title h1 {
        position: relative;
        top: 1rem;
    }

    .hero-description p {
        width: 98%;
    }

    .hamburger-icon {
        padding-bottom: 2rem;
        

    }
}


/* MOBILE NAV BOTTOM */




    

/* DETAILS   TOP*/

.details-section {
    padding-top: 5rem;
    padding-bottom: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e4e4e4;


}


.card-wrapper {
    display: flex;
}


.detail-card .detail-head {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
}

.detail-card h3 {
    color: #112B42;
    font-size: 2rem;
    text-align: center;
    padding-bottom: 2.5rem;
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;

}

.detail-card {
    padding: 2rem;
    transition: background-color 0.3s ease-in-out;
}

.detail-card:hover {
    background-color: white;

}


.detail-card p {
    width: 90%;
    font-size: 1.1rem;
    text-align: center;
    font-family: 'Catamaran', sans-serif;
    color: #617d98;
}


.detail-icon {
    display: flex;
    justify-content: center;
}



.fa-truck-fast, .fa-tree, .fa-bowl-food {
    color: #678E3E;
    font-size: 3rem;
    padding-bottom: 2.5rem;
 }



 


 
@media screen and (max-width:980px) {
   
    .card-wrapper {
        flex-wrap: wrap;
        flex-direction: column;
    }


    .fa-truck-fast, .fa-tree, .fa-bowl-food {
        padding-right: 1rem;
    }
  
    .detail-card {
        margin-top: 2rem;
    }

    .detail-card h3 {
        font-size: 1.4rem;
    }

    .detail-card p {
        width: 95%;
        text-align: center;
        font-size: 1.1rem;
    }

}

/* DETAILS  BOTTOM*/






/* ABOUT SECTION    TOP */

.about-section {
    padding-top: 8rem;
    padding-bottom: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
 
}


.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.about-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image img {
    width: 100%;
    position: relative;
    left: 4.3rem;
    border: #678E3E solid 9px;
}

.about-paragraph {
    display: flex;
    justify-content: center;
}


.about-details h3 {
    color: #112B42;
    font-size: 2.5rem;
    padding-bottom: 1rem;

}


.about-details p{
    width: 60%;
    font-size: 1.1rem;
}

.about-details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



@media screen  and (max-width: 971px){

    .about-container {
        flex-direction: column;
    }

    .about-image {
       padding-right: 7.8rem;
    }


    .about-image img {
        max-width: 100%;
        width: 40rem;
    }


    .about-details {
        padding-top: 2rem;
    }


    .about-details h3 {
        padding-top: 1rem;
    }


    .about-details p {
        font-size: 1rem;
        max-width: 100%;
        width: 90%;
        text-align: center;
        padding-top: 1rem;
    }
}


/* ABOUT SECTION    BOTTOM */








/* MENU SECTION    TOP */


.menu-title{
    display: flex;
 
}





.menu-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color:  #f7ebeb;
    display: flex;
    justify-content: center;
    flex-direction: column ;
    align-items: center;


}


.menu-head h2 {
    color: #102B43;
    font-size: 3rem;
    padding-bottom: 6rem;


}

.menu-category {
    background-color: rgb(248, 248, 248);
    border-radius: 1.1rem;
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
    padding: 1.3rem ;
    margin-right: 1.4rem;
    font-weight: bold;
    margin-bottom: 6rem;

}
.menu-category:hover {
    background-color: #678E3E;
    color: white;
    transition: 0.3s;
}


.menu-section img {
    width: 15rem;
    height: 15rem;
}


.menu-text {
    margin-left: 2rem;
}


.menu-item {
    margin-right: 2rem;
    margin-bottom: 2rem;
    cursor: pointer;
}


.menu-item h3 {
    color: #515061;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1.6rem;
    
}

.menu-item .price {
   color: #678F3F;
   font-weight: bold;
   font-size: 2rem;
    position: relative;
    left: 1rem;
}


.menu-btn-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 1.6rem;
}

.menu-btn-wrapper button {
    border: none;
    background: transparent;
    color: #b78206; 
    font-weight: bold;
    font-size: 1rem;
    margin-right: 0.5rem;


}
.fa-arrow-right {
    color: #b78206; 

}








.menu-lunch, .menu-dinner, .menu-beverages, .menu-desserts {
    display: flex;
    
}


  .menu-item  {
    display: flex;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    width: 41rem;
    padding: 1.5rem;
}




@media screen  and (max-width: 1394px){
    .menu-lunch, .menu-dinner, .menu-beverages, .menu-desserts {
        flex-direction: column;

    }




}



@media screen and (max-width: 950px) {
    .menu-item {
        width: 20rem;
        padding: 1rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;


        padding-bottom: 2rem;
    }


    .menu-title {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
      
    }

    .menu-text p  {
        text-align: center;
    }


    .price {
        margin-bottom: 1.6rem;
        width: 56%;
    }


    .menu-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-right: 1rem;

    }
}


/* MENU SECTION   BOTTOM */








/* BLOG SECTION  T0P */

.blog-section {
    padding-bottom: 3rem;
    padding-top: 3rem;
    background-color: #e4e4e4;
    padding-left: 4rem;


}

.blog-head {
    display: flex;
    justify-content: center;
    color: #102B43;
    font-size: 2rem;
    margin-bottom: 5rem;
}


.blog-image img {
    width: 25rem;
    height: 25rem;
}

.blog-container {
   display: flex;
   justify-content: center;
    
}

.blog-title {
    color: #2f3146;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 0.9rem;
}

.blog-title, .blog-para {
    display: flex;
    justify-content: center;

}

.blog-para p {
    text-align: center;
    width: 70%;
    font-size: 1rem;
}



.blog-info {
    padding-top: 1rem;
}



.blog {
    margin-right: 6.5rem;
}


.calendar {
    display: flex;
    justify-content: center;
    color: #678E3E;
    font-weight: bold;
    padding-bottom: 0.5rem;

}


.date {
    padding-left: 0.6rem;
}


.blog-btn {
    display: flex;
    justify-content: center;
}



.blog-btn a {
    text-decoration: none;
    background-color: #678E3E;
    color: white;
    margin-top: 0.9rem;
    padding: 1rem;
    border-radius: 0.6rem;


}


/* BLOG SECTION  BOTT0M*/





/* TEAM SECTION  T0P*/



  .team-section {
    padding-bottom: 10rem;
    padding-top: 4rem;

  }


.team-member {
    margin-right: 1rem;
}


  .team-container {
    display: flex;
    justify-content: center;
  }


  .team-section img {
    width: 25rem;
    height: 20rem;
    
  }


  .team-head {
    display: flex;
    justify-content: center;
    color: #102B43;
    font-size: 2rem;
     margin-bottom: 5rem;
    
  }




 .member-info {
    background-color: #F1F5F8;
    width: 25rem;
    height: 15rem;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 16px 0px;
    position: relative;
    bottom: 0.2rem;
 }


  .member-name {
    display: flex;
    justify-content: center;
    color: #2f3146;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom:0.4rem ;

  }


.member-job {
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    color: #678E3E;
    font: bold;
    margin-bottom: 0.6rem;
    
}


  .member-info p {
    text-align: center;
  }







/* TEAM SECTION  BOTTOM*/



/*





body {
    width: 100%;
}




.hero-image {
 background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('./images/istockphoto-913677844-612x612.jpg') ;
 background-repeat: no-repeat;
 background-position: center;
 background-size: 100% 100%;
 height: 100vh;

}





nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 29px;
}


nav li a {
    color: white;
    text-decoration: none;
    margin-right: 25px;
    font-size: 20px;
}



nav li a:hover {
    border-bottom: solid 4px  #678E3E;
    padding: 5px;

}


li {

    list-style: none;
}




.home-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
}


.home-title h1 {
    color: white;
    font-size: 50px;
    border-bottom: white solid 1px;

}



.fa-utensils-slash {
    color: orange;
    font-size: 20px;
}




img {
    height: 100px  
}


.logo {
    display: flex;
    
}






.details {
    min-height: 30vh;
}



.details {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #F1F5F8;
    position: relative;

  
}





.card:hover {
    border-bottom: solid 3px #678E3E ;
}


.card h3 {
    color: #112B42;
    font-size: 30px;
}


.card {
    padding-top: 40px;
}




 .fa-truck-fast, .fa-tree, .fa-bowl-food {
    color: #678E3E;
    font-size: 30px;
    padding-bottom: 10px;
 }







.about-us-section {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.about-us-details {
  width: 400px;
  font-size: 20px;
}


.about-us-image img {
    width: 500px;
    height: 400px;
    border: solid 10px #678E3E;
    position: relative;
    right: 110px;
}



.about-us-head {
    position: relative;
    bottom: 20px;
    color: #102B43;
    font-size: 30px;

}








.menu-section {
    padding-top: 20px;
    min-height: 255vh;
    background-color:  #F7F3F3;
}




.menu-head {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    font-size: 30px;
    color: #102B43;


}


.menu-list-heads {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 70px;

}

.menu-list-heads h4 {
    margin-right: 20px;
    background-color: white;
    padding: 20px 20px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    
}

.menu-list-heads h4:hover {
   background-color: #678E3E;
   border-radius: 10px;
   color: white;
   transition: 0.3s;
   
}





.menu-lunch {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
   
}



.menu-lunch-left, .menu-lunch-right {
    display: flex;
    background-color: white;
    padding: 30px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin-left: 20px;
    

}

.menu-lunch-left:hover, .menu-lunch-right:hover {
   border: #678E3E 3px solid;
}






.menu-dinner {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}



.menu-dinner-left, .menu-dinner-right {
    display: flex;
    background-color: white;
    padding: 30px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin-left: 20px;
    margin-top: 20px;
}



.menu-dinner-left:hover, .menu-dinner-right:hover {
    border: #678E3E 3px solid;
 }







.menu-desserts {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}



.menu-desserts-left, .menu-desserts-right {
    display: flex;
    background-color: white;
    padding: 30px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin-left: 20px;
    margin-top: 20px;
}




.menu-desserts-left:hover, .menu-desserts-right:hover {
    border: #678E3E 3px solid;
 }
 
 
 
 .menu-text h3{
    color: #515061;
 }


.menu-beverages {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}



.menu-beverages-left, .menu-beverages-right {
    display: flex;
    background-color: white;
    padding: 30px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin-left: 20px;
    margin-top: 20px;
}




.menu-beverages-left:hover, .menu-beverages-right:hover {

    border: #678E3E 3px solid;

}





.menu-image img {
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

.menu-text p {
    width: 300px;
    position: relative;
    top: 10px;
}




.price {
    color: #678E3E;
    position: relative;
    left: 50px;
    font-size: 35px;
}



.menu-title {
    font-size: 30px;
    
    
}





.menu-btn-wrapper {
       
    display: flex;
    justify-content: center;
    position: relative;
    top: 20px;
    padding: 10px;


}



.menu-btn-wrapper  button {

    color: #b78206; 
     font-weight: bold;
     border: 0;
     padding: 0;
     background-color: transparent;
     font-weight: bold;
 }



 .fa-arrow-right {
    margin-left: 5px;
    color: #b78206; 

}








.blog-section {
    min-height: 120vh;
    background-color: #F1F5F8;
    padding-top: 50px;
    
}


.blog-wrapper {
    position: relative;
    top: 90px;
    padding-top: 20px;
}



.blog-head {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #102B43;

    
}


.blog-items {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 70px;

}





.blog-title {
    display: flex;
    justify-content: center;
}


.blog-text h3 {
    font-size: 30px;
    padding-top: 15px;
}

.blog-text p {
    width: 270px;
    text-align: center;
    padding-top: 10px;
    
}

.blog-image img {
    height: 300px;
    width: 300px;
}



.blog-btn a {
    color: white;
    background-color: #678E3E;
    width: 130px;
    padding: 10px;
    font-size: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    top: 10px;
    border-radius: 10px;
    left: 68px;
    text-decoration: none;
}

.calendar {
    display: flex;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    color: #678E3E;

}

.calendar .date {
    margin-left: 8px;
    font-weight: bold;
}


.blog-left, .blog-middle, .blog-right {
    margin-right: 80px;
}









.contact {
    background-color: #F4F1DE;
    min-height: 130vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.contact .contact-left {
    position: relative;
    right: 200px;

}


 .address, .email, .phone {
    display: flex;
    margin-bottom: 30px;
    font-size: 20px;
}


.address-details, .email-details, .phone-details {
    position: relative;
     bottom: 20px

}











.contact-right form {
    background-color: white;
    width: 550px;
    height: 500px;
    padding: 10px;
    border-radius: 20px;

}

.form-list {
    display: flex;
    flex-direction: column;
}


.form-list input {
    height: 40px;
    margin-top: 20px;
    border-radius: 15px;
    background-color: #F1F5F8;
}

.form-list input[type=text] {
    font-size: 20px;
}


.form-list #message {
    height: 150px;
}



.contact-right form h3 {
    display: flex;
    justify-content: center;
    color: #102B43;
    font-size: 40px;
    padding-bottom: 20px;
}



.contact-right  .input-btn {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  position: relative;
  top: 10%;
  
}



.contact-right .input-btn #btn {
    width: 100%;
    padding-bottom: 25px;
    cursor: pointer;
    padding-top: 20px;
    font-size: 20px;
    color: white;
    background-color: #678E3E ;
}





.address, .email, .phone {
    color: #668F3E;
}



.fa-house, .fa-envelope, .fa-phone-flip {
    margin-right: 10px;
}



.address-details, .phone-details, .email-details {
    font-size: 20px;
    color: #112A43;
    font-weight: bold;
}


*/